<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>world.io </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>world.io</h1>
        <div id="world" style="width: 100%; height: 100%;"></div>

        <link href="http://fonts.googleapis.com/css?family=Comfortaa:300" rel="stylesheet" type="text/css">
        <link href="../stylesheets/world.css" rel="stylesheet" type="text/css">
        
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="http://d3js.org/topojson.v1.min.js"></script>
        <script src="http://datamaps.github.io/scripts/datamaps.world.min.js?v=1"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="../javascripts/world.js"></script>
    </body>
</html>
